# Dependencies
node_modules/
.pnpm-store/

# Environment files
.env
.env.local
.env.*.local
*.env

# Expo
.expo/
web-build/
dist/
build/

# Node / TypeScript build outputs
dist/
build/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS / Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
